<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initialscale=1">
    <title>Firewall</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
  {% block css %}{% endblock %}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
  </head>
  <body>
    {% block navigation %}
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" 
                data-target="#firewall-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="firewall-navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a class="navbar-brand" href="{{ url_for('home') }}">{{ _('Home') }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li><a href="{{ url_for('security.logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ _('Log Out') }}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% endblock %}

    <div class="container-fluid">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul><br/>
          {% endif %}
        {% endwith %}
      {% block container %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/firewall.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
