html, body, .container-test {
    width: 100%;
    height: 100%;
}

.alert-box {
    margin-left: 0px;
    margin-right: 5px;
}

.info-box {
    margin-top: 5px;
    margin-bottom: 0;
}
.row {
    margin-top: 5px;
    margin-bottom: 0;
}

.bottom-space-10 {
    margin-bottom: 10px;
}
.bottom-space-15 {
    margin-bottom: 15px;
}

.padding-top-15 {
    padding-top: 15px;
}

#modal-edit textarea.form-control {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 4px;
    resize: none; 
}

#modal-edit .modal-dialog  {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#modal-edit .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}



/* Gradient color1 - color2 - color1 */ 
hr.style-one { 
    border: 0; 
    height: 1px; 
    background: #333; 
    background-image: linear-gradient(to right, #ccc, #333, #ccc); 
}

#spinner {
    display: none;
}   

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
