{% extends 'layout.html' %}
{% block css %}
{% endblock %}
{% block navigation %}
  {% include "dashboard/navigation.html" %}
{% endblock %}
{% block container %}
{% include "dashboard/modal-rules.html" %}
<p>{{ _("Choose a file to modify") }}</p>
<div class="info-box"></div>
<hr class="style-one">
  <div class="list-group edit-config" id="configs"> 
  </div>
{% endblock %}
