{% extends 'layout.html' %}
{% block css %}
{% endblock %}
{% block navigation %}
  {% include "dashboard/navigation.html" %}
{% endblock %}
{% block container %}
<div class="row">
  <div class="col-md-3">
    <p>{{ _("Choose an action to perform:") }}</p>
  </div>
  <div class="col-md-9">
    <div class="btn-group" id="action-click">
      <button type="button" class="btn btn-default" id="action-start">
        {{ _("Start") }}
      </button>
      <button type="button" class="btn btn-default" id="action-stop">
        {{ _("Stop") }}
      </button>
      <button type="button" class="btn btn-default" id="action-reload">
        {{ _("Reload") }}
      </button>
      <button type="button" class="btn btn-default" id="action-restart">
        {{ _("Restart") }}
      </button>
      <button type="button" class="btn btn-default" id="action-clear">
        {{ _("Clear") }}
      </button>
      <button type="button" class="btn btn-default" id="action-check">
        {{ _("Check") }}
      </button>
      <button type="button" class="btn btn-default" id="action-status">
        {{ _("Status") }}
      </button>
    </div>
  </div>
</div>
<hr class="style-one">
<div id="spinner">
  <button class="btn btn-lg btn-info">
    <span class="glyphicon glyphicon-refresh spinning"></span>{{ _("Loading...") }}
  </button>
</div>
<div class="info-box fade in"></div>
{% endblock %}
