{% extends 'layout.html' %}
{% block css %}{% endblock %}
{% block navigation %}
{% include "dashboard/navigation.html" %}
{% endblock %}
{% block container %}
{% include "dashboard/modal-rules.html" %}
{% if data.error %}
  <div class="alert alert-danger">
    {{ data.error }}
  </div>
{% else %}

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">

    <div class="btn-group" id="modus-click">
      <button type="button" class="btn btn-default" id="modus-edit">
        {{ _("Edit") }}
      </button>
      <button type="button" class="btn btn-default" id="modus-rename"> 
        {{ _("Rename") }}
      </button>
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
          id="modus-create">
          {{ _("Create") }} 
          <span class="glyphicon glyphicon-collapse-down"></span>
        </button>
        <ul class="dropdown-menu">
        {% for zone in data.data.keys()|sort %}
          <li><a href="#{{ zone }}" data-zone-id="{{ zone }}"
                class="create-config">Zone: {{ zone }}</a></li>
        {% endfor %}
       </ul>
      </div>
      <button type="button" class="btn btn-default" id="modus-delete"> 
        {{ _("Delete") }}
      </button>

     </div>

  </div>
</div>

<div class="row" style="display: none"> 
  <div class="col-sm-3">
    <span data-toggle="tooltip" title="{{ _("Plain is using textarea for edit the config directly. 
    Complex is using a construction.") }}" data-placement="top">
    {{ _("Edit-Mode ") }}</span>
  </div>
  <div class="col-sm-9">
      <div class="btn-group btn-group-xs" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" id="radio-plain" name="radio-1" checked>Plain
        </label>
        <label class="btn btn-primary">
          <input type="radio" id="radio-complex" name="radio-1">Complex
        </label>
      </div>
  </div>
</div>

<hr class="style-one" id="rules-top">
 
{% for zone in data.data.keys()|sort %}
<div class="row">
  <div class="col-sm-3">
      <button class="btn btn-primary btn-block" data-toggle="collapse"
          data-target="#toggle-{{ zone }}" style="text-align:left">
            <span style="float:left">
            {{ _("Zone") }}: {{ zone }}
            </span>
            <span class="badge" id="count-{{ zone }}" style="float:right; margin-top:2px;">{{ data.data[zone]|length }}
            </span>
      </button>
  </div>
  <div class="col-sm-9">
    <div class="collapse list-group edit-config" id="toggle-{{ zone }}">
        {% for config in data.data[zone]|sort %}
              <a href="#" class="list-group-item"
                data-zone-id="{{ zone }}" data-file-id="{{ config[0] }}"
                data-hash-id="{{ config[1] }}" id="{{ config[1] }}"> {{ config[0] }}
              </a>
        {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

{% endif %}
{% endblock %}
