{% extends 'layout.html' %}
{% block css %}{% endblock %}
{% block navigation %}
{% include "dashboard/navigation.html" %}
{% endblock %}
{% block container %}
{% include "dashboard/modal-settings.html" %}
<hr class="style-one" id="rules-top">

{% for key in data|sort %}
<div class="row">
  <div class="col-sm-3">
     {{ _(key)|capitalize}}
  </div>
  <div class="col-sm-9">
    {% if data[key].error %}
      <div class="alert alert-danger">
        {{ data[key].error }}
      </div>
    {% else %}

    <div class="list-group"> 
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
          <thead>
            <tr> 
            {% for i in data[key].data.header.values() %}
              <th>{{ i.name|capitalize_words(split_by="_") }}</th>
            {% endfor %}
            </tr>
          </thead>
          <tbody> 
          {% for i, value in data[key].data.items() %}
            {% if i != "header" %}
            <tr>
              {% for j, header in data[key].data.header.items() %}
                {% if i != "header" %}
                <td>{{ value[header.name] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    {% endif %} 
  </div>
</div>
{% endfor %}
{% endblock %}
