{% extends 'layout.html' %}
{% block css %}{% endblock %}
{% block navigation %}
  {% include "dashboard/navigation.html" %}
{% endblock %}
{% block container %}
{% include "dashboard/modal-index.html" %}
<div class="row">
  <div class="col-sm-3">
       {{ _("last login") }}
  </div>
  <div class="col-sm-9">
    {{ data.last_login|datetime }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
       {{ _("uptime") }}
  </div>
  <div class="col-sm-9">
    {{ data.uptime.data }}
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
       <a href="#meminfo-all" class="meminfo">{{ _("meminfo") }}</a>
  </div>
  <div class="col-sm-9">
    <table class="table table-bordered table-striped table-responsive">
        <tr>
          <td>{{ _("MemTotal") }}</td>
          <td>{{data.meminfo.data["MemTotal"].value}}</td>
          <td>{{data.meminfo.data["MemTotal"].unit}}</td>
        </tr>
        <tr>
          <td>{{ _("MemFree") }}</td>
          <td>{{data.meminfo.data["MemFree"].value}}</td>
          <td>{{data.meminfo.data["MemFree"].unit}}</td>
        </tr>
    </table>
  </div>
</div>
{% endblock %}
