<div id="modal-meminfo" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ _("meminfo") }}: <span class="read-from"></span></h4>
          <div class="info-box"></div>
      </div>
      
      <div class="modal-body">
        <table class="table table-bordered table-striped table-responsive table-condensed">
          <tbody></tbody>
        </table>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
      </div>
    
    </div>
  </div>
</div>
