<div id="modal-edit" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ _("Edit config: ") }} </h4>
          <div class="info-box"></div>
      </div>
      
      <div class="modal-body">
         <textarea class="form-control" id="edit-config"></textarea>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
        <button type="button" class="btn btn-primary" id="save-config">{{ _("Save changes") }}</button>
      </div>
    
    </div>
  </div>
</div>

<div id="modal-create" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ _("Config name for zone: ") }}</h4>
        <p>{{ _("Config name should just a name that describe the content without suffix.") }}</p>
        <p>{{ _("Example: myTor becomes myTor.rules") }}</p>
        <p class="info-box"></p>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control required" id="config-name-create" placeholder="Configname" 
          title="myService" pattern="\w+" required minlength="3">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default reset-input">{{ _("Reset") }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
        <button type="button" class="btn btn-primary" id="create-config">{{ _("Create config") }}</button>
      </div>
    </div>
 </div>
</div>

<div id="modal-rename" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ _("Rename config: ") }}</h4>
        <p>{{ _("Config name should just a name that describe the content without suffix.") }}</p>
        <p>{{ _("Example: myTor becomes myTor.rules") }}</p>
        <p class="info-box"></p>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control required" id="config-name-rename" placeholder="Configname" 
          title="myService" pattern="\w+" required minlength="3">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default reset-input">{{ _("Reset") }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
        <button type="button" class="btn btn-primary" id="rename-config">{{ _("Rename config") }}</button>
      </div>
    </div>
 </div>
</div>

<div id="modal-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ _("Delete config: ") }}</h4>
        <p>{{ _("You want delete this Config?") }}</p>
        <p class="info-box"></p>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" disabled id="config-name-delete"> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
        <button type="button" class="btn btn-primary" id="delete-config">{{ _("Delete config") }}</button>
      </div>
    </div>
 </div>
</div>
