<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#firewall-navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('dashboard.index') }}" title="{{ _("Home") }}">
      <span class="glyphicon glyphicon-home"></span></a>
  </div>
  <div class="collapse navbar-collapse" id="firewall-navbar">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="{{ url_for('dashboard.firewall_configs') }}">{{ _('Configs') }}</a></li>
      <li><a class="navbar-brand" href="{{ url_for('dashboard.firewall_rules') }}">{{ _('Rules') }}</a></li>
      <li><a class="navbar-brand" href="{{ url_for('dashboard.firewall_settings') }}">{{ _("Settings") }}</a></li>
      <li><a class="navbar-brand" href="{{ url_for('dashboard.firewall_action') }}">{{ _("Action") }}</a></li>
      <li><a class="navbar-brand" href="{{ url_for('dashboard.firewall_info') }}">{{ _("Info") }}</a></li>
</ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li><a href="{{ url_for('security.logout') }}"><span class="glyphicon glyphicon-log-out"></span></a></li>
      {% endif %}
    </ul>
  </div>
</div>
</nav>
