{% extends "layout.html" %}
{% block title %}{{ _("Login") }}{% endblock %}
{% block container %}
{% from "security/_macros_bootstrap.html" import render_field_with_bootstrap_errors, render_field_bootstrap %}
{% include "security/_messages.html" %}
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="form-horizontal form-login">
    {{ login_user_form.hidden_tag() }}
    <div class="form-group">
      <label for="inputUsername" class="control-label col-sm-3">{{ _("Username") }}</label>
      <div class="col-sm-6 -col-sm-offset-3">
        {{ render_field_with_bootstrap_errors(login_user_form.username, 
          class="form-control", placeholder="Username",  id="inputUsername",
          required="true", autofocus="true") }}
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="control-label col-sm-3">{{ _("Password") }}</label>
      <div class="col-sm-6 -co-sm-offset-3">
        {{ render_field_with_bootstrap_errors(login_user_form.password,
          required="true", id="inputPassword",
          class="form-control", placeholder="Password") }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6 -col-sm-offset-3"> 
        <div class="checkbox">
          <label>
            {{ render_field_with_bootstrap_errors(login_user_form.remember) }} {{ _("Remember me") }}
          </label>
        </div>
      </div>
    </div>

        {{ render_field_bootstrap(login_user_form.next) }}
    
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6 -col-sm-offset-3">
        {{ render_field_bootstrap(login_user_form.submit, 
          class="btn btn-primary ") }}
      </div>
    </div>
</form>
{% include "security/_menu.html" %}
{% endblock %}
